.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.compareBox {
	display: flex;
	width: 1200px;
	margin: auto;
}

.statBar1 {
	text-align: center;
	background-color: #0abd4c;
	height: 20px;
	transition: 400ms ease-in-out;
}
.statBar2 {
	text-align: center;
	background-color: #605f5f;
	height: 20px;
	transition: 400ms ease-in-out;
}

.pokeBox {
	display: flex;
}

.previewOne {
	border: 2px solid black;
	display: flex;
	width: 25%;
	flex-direction: column;
}
.previewTwo {
	border: 2px solid black;
	flex-direction: column;
	display: flex;
	width: 25%;
}

.center {
	border: 2px solid black;
	flex-direction: column;
	width: 100%;
}
