.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comParent {
	display: flex;
	flex-direction: column;

	gap: 5px;
	width: 1200px;
	margin: auto;
	border-radius: 15px;
	overflow: hidden;
}

.compareBox {
	margin: auto;
	display: flex;
	width: 100%;
	gap: 4px;
}

.statBar1 {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: #0abd4c;
	position: relative;
	border-right: 1px solid white;
	height: 30;
	transition: 400ms ease-in-out;
	width: 100%;
	padding: 0 10px 0 10px;
}

.statBar2 {
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: #4a4c4b;
	position: relative;
	border-right: 1px solid white;
	height: 30;
	transition: 400ms ease-in-out;
	width: 100%;
	padding: 0 10px 0 10px;
}

.pokeBox {
	display: flex;
	gap: 20px;
}

.previewOne {
	display: flex;

	flex-direction: column;
}
.previewTwo {
	flex-direction: column;
	display: flex;
}

.center {
	flex-direction: column;
	width: 100%;
}
