/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	padding: 60px 0 60px 0;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

@media (width >= 1000px) {
	section {
		grid-template-columns: repeat(5, 1fr);
		max-width: 1200px;
		display: grid;
		gap: 5px;
		padding: 0;
		margin: auto;
	}
}
@media (width < 1000px) {
	section {
		margin: auto;
		grid-template-columns: repeat(4, 1fr);
		max-width: 1200px;
		display: grid;
		gap: 5px;
		padding: 0;
	}
}
@media (width < 600px) {
	section {
		margin: auto;
		grid-template-columns: repeat(2, 1fr);
		min-width: 390px;
		max-width: 1200px;
		display: grid;
		gap: 5px;
		padding: 0;
	}
}

button {
	cursor: pointer;
	height: 150px;
	display: grid;
	justify-content: center;
}

#card {
	position: relative;
	display: grid;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	color: black;
	justify-content: center;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
